@import '../../../../styles/variables';

.product {
	padding-top: 15px;
	padding-bottom: 15px;

	border-bottom: 1px solid $white-smoke;

	img {
		width: 100%;

		cursor: pointer;

		border-radius: 10px;
		background-color: $white-smoke;
	}

	&__name {
		margin-bottom: 5px;

		cursor: pointer;

		font-size: 14px;
		font-weight: 500;
	}

	&__description {
		opacity: 0.5;

		font-size: 10px;
	}

	&__price {
		display: flex;
		flex-direction: column;

		text-align: right;
		align-items: flex-end;

		&--new {
			margin-bottom: 5px;
		}

		&--old {
			text-decoration: line-through;

			opacity: 0.5;

			font-size: 10px;
		}
	}

	&__edit-btn {
		cursor: pointer;

		color: lightskyblue;

		font-size: 12px;
		font-weight: 500;
	}

	&__quantity {
		text-align: right;

		color: lightskyblue;

		font-weight: 500;
	}
}
