@import '../../../../styles/variables';

.shop-selector {
	width: 200px;

	margin: 15px 0;
	padding: 5px 20px;

	cursor: pointer;

	color: $light-sky-blue;
	border-radius: 50px;
	background-color: $powder-blue;

	font-weight: 500;

	i {
		font-weight: 500;
	}
}
